.btn {
  color: inherit;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  font-weight: 700;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
}
.primary1 {
  width: 100%;
  /* background-color: #2691d9; */
  background-color: var(--color-brand--2);
  color: white;
  border-radius: 20px;
  height: 45px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 50px;
}



